@model IEnumerable<QuanLyLopTinChi.Models.BaiTap>

@{
    ViewBag.Title = "Danh Sách Bài Tập";
}

<h2 class="name">
    <span class="name_cont">
        <a href="#">
            Danh sách Bài Tập
        </a>
    </span><span class="name_last">&nbsp;</span>
</h2>



<div class="bor pad-sml">
    <p>
        @Html.ActionLink("Tạo mới", "Create")
    </p>
    @Html.Partial("~/Views/Shared/_ListBaiTap.cshtml", Model)
</div>


