@model IEnumerable<QuanLyLopTinChi.Models.TaiLieu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2 class="name">
    <span class="name_cont">
        <a href="#">
            Danh Sách Tài Liệu
        </a>
    </span><span class="name_last">&nbsp;</span>
</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="bor pad-sml">
    <h3 class="name">
        Tìm kiếm tài liệu
    </h3>


    @using (Html.BeginForm())
    {
        <p>
            <table>
                <tr>
                    <th>
                        Tìm theo tên tài liệu:
                    </th>
                    <th>
                        @Html.TextBox("TenTaiLieu")
                    </th>
                </tr>
                <tr>
                    <th>
                        Tìm theo tên người đăng:
                    </th>
                    <th>
                        @Html.TextBox("TenNguoiDang")
                    </th>
                </tr>
            </table>
            <input type="submit" value="Search" />
        </p>
    }

</div>


<div class="bor pad-sml">
    <h3 class ="name">
        Tìm kiếm tài liệu
    </h3>
    @Html.Partial("~/Views/Shared/_ListTaiLieu.cshtml", Model)
</div>