<div class="float-right-content">
    <div class="mar">
        <div class="bar">
            <h3 class="name" style=" margin-top: 0px;">
                <span class="right">Danh mục chức năng</span>
            </h3>
            <div class="bar_list">
                <ul>
                    <li>
                        <a href="~/TaiLieu/TaiLieuTheoLop">Tài Liệu</a>
                        <ul>
                            <li><a href="~/TaiLieu/TaiLieuTheoLop">Danh Sách Tài Liệu</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="~/DanhSach/XemDanhSachSinhVien">Danh Sách Lớp</a>
                        <ul>
                            <li><a href="~/DanhSach/XemDanhSachSinhVien">Danh Sách Sinh Viên</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>