<div>
    <div class="float-left-footer">
        <strong>KHOA CÔNG NGHỆ THÔNG TIN</strong><br />
        Đại học kỹ thuật Lê Quý Đôn<br />
        <strong>Địa chỉ</strong>: 236 Hoàng Quốc Việt, Hà Nội, Việt Nam<br />
        <strong>Email</strong>: fit@mta.edu.vn
        <br />
    </div>
</div>