html {
    background: url(../Content/images/bodyWrapper.gif) repeat-x scroll 0 0 #FFFFFF;
    margin: 0;
    padding: 0;
}

body {
    width: 96%;
    background: url(../Content/images/bg_body.gif),url(../Content/images/body_shadow_left.png) repeat-y left, url(../Content/images/body_shadow_right.png) repeat-y right;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    margin-left: 2%;
}

#all {
    /*background: url(../Content/images/body_shadow_left.png) repeat-y left, url(../Content/images/body_shadow_right.png) repeat-y right ;*/
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        /*background-color: #c7d1d6;*/
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}


h2.name, h1.name, h3.name {
    background-color: #e4e4e4;
    margin-top: 0px;
    padding-top: 6px;
    padding-bottom: 7px;
    padding-left: 10px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC #CCCCCC -moz-use-text-color;
    border-image: none;
    border: 1px solid #808080;
}

.bar h3.name {
    background-color: #3B99A6;
    border: 1px solid #328590;
}

    .bar h3.name .right {
        color: white;
        display: block;
        line-height: 39px;
        text-align: center;
        text-transform: uppercase;
    }

.float-left-content {
    margin-top: 4px;
    background-color: white;
    width: 77%;
    float: left;
    margin-left: 1%;
    border: 1px solid #c3c3c3;
    margin-bottom: 10px;
}

.center-content {
    margin-top: 4px;
    background-color: white;
    width: 98%;
    margin-left: 1%;
    border: 1px solid #c3c3c3;
    border-top: none;
    margin-bottom: 10px;
}

.float-right-content {
    background-color: transparent;
    width: 20%;
    float: right;
    margin-right: 1%;
    margin-bottom: 10px;
}

.float-left-footer {
    padding-top: 16px;
    width: 76%;
    float: left;
    margin-left: 2%;
}

.mar {
    margin-top: 4px;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
}

.bar {
}

.bar_list {
    background-color: white;
    padding: 5px;
}

    .bar_list ul {
        margin-top: 10px;
        margin-left: -35px;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .bar_list li {
        border-bottom: 1px dotted #CCCCCC;
        margin-bottom: 10px;
        position: relative;
    }

        .bar_list li a {
            background: url("../images/bar_menu.png") no-repeat scroll left center rgba(0, 0, 0, 0);
            color: #333333;
            display: block;
            font-weight: bold;
            padding: 2px 5px 15px 30px;
            text-decoration: none;
        }

        .bar_list li ul {
            background: none repeat scroll 0 0 #F6F8FB;
            box-shadow: 1px 1px 4px 2px #F5F5F5;
            display: none;
            left: -215px;
            padding: 10px;
            position: absolute;
            top: -20px;
            width: 250px;
            z-index: 9999;
            border: 1px solid #ccc;
        }

        .bar_list li:last-child {
            border-bottom: medium none;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .bar_list li:hover ul {
            display: block;
        }

        .bar_list li a:hover {
            color: #10D1F4;
        }

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
}

#body {
    background-color: #efeeef;
    clear: both;
}

.main-content {
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    margin-bottom: 70px;
}

.featured + .main-content {
    background: url("../Images/heroAccent.png") no-repeat;
}

header .content-wrapper {
    padding-top: 20px;
    margin-left: 1%;
    margin-right: 1%;
}

footer {
    clear: both;
    background: url(../Content/images/footerbg.gif) repeat-x bottom #EDEFF4;
    border-top: 1px solid #c3c3c3;
    font-size: .8em;
    height: 100px;
}

.bor {
    /*padding-left: 10px;
    padding-right:10px;*/
    margin-top: 17px;
    border-bottom: none;
    border-top: none;
}

.pad-sml {
    padding: 10px;
}

/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

    .site-title a, .site-title a:hover, .site-title a:active {
        background: none;
        color: #c8c8c8;
        outline: none;
        text-decoration: none;
    }


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: transparent;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: underline;
        font-size: 12px;
        font-weight: bold;
    }

        #login a.username {
            background: none;
            margin: 0;
            padding: 0;
            text-decoration: underline;
        }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: left;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

            ul#menu li a:hover {
                color: #333;
                text-decoration: none;
            }


#menu {
    margin-top: 4px;
    background-color: #3B99A6;
    position: relative;
    border: 1px solid #328590;
}

.welcome {
    background: url("../images/bg.gif") repeat-x scroll 0 0 #CECECE;
    border-bottom: 1px solid #CFCFCF;
    color: #1B1F3A;
    margin: 0;
    overflow: hidden;
    padding: 7px 46px 6px;
}

.wc {
    float: left;
}

.account {
    float: right;
}

    .wc, .account a {
        color: #1C9FB6;
        font-weight: bold;
    }

.wap-x80 {
    float: left;
    width: 80% !important;
}


.wap-x80 {
    float: left;
    width: 80% !important;
}


.wap-x80 {
    float: left;
    width: 80% !important;
}

ul, li {
    list-style: none outside none;
}

[class^="menu_"] {
    height: 55px;
    position: absolute;
    top: 0;
    width: 50px;
}

.menu_left {
    background: url("../images/menu_left.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    left: -50px;
}

.menu_right {
    background: url("../images/menu_right.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    right: -47px;
}

#nav {
    margin-top: 0px;
    padding-left: 30px;
    width: 100%;
}

    #nav, #nav ul {
        list-style: none outside none;
        position: relative;
    }

        #nav a:link, #nav a:active, #nav a:visited {
            color: #FFFFFF;
            display: block;
            font-size: 13px;
            font-weight: bold;
            padding-left: 10px;
            padding-right: 10px;
            text-decoration: none;
            text-transform: uppercase;
        }

        #nav a:hover {
            background: none repeat scroll 0 0 #3B99A6;
            text-decoration: underline;
        }

        #nav a.active {
            background: url("../images/bg/menu_hv.png") no-repeat scroll center center rgba(0, 0, 0, 0);
            color: #0CD1F4;
        }

            #nav a.active:hover {
                text-decoration: none;
            }

        #nav li {
            float: left;
            position: relative;
        }

            #nav li:last-child {
                background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
            }

        #nav > li > a {
            line-height: 40px;
        }

        #nav ul {
            padding-left: 0px;
            display: none;
            position: absolute;
            top: 40px;
            z-index: 100;
            border: 1px dotted #328590;
        }

        #nav li ul a {
            padding-top: 8px;
            background: none repeat scroll 0 0 #3B99A6;
            float: left;
            line-height: 30px;
            width: 12em;
            border-bottom: 1px dotted #CCCCCC;
            text-align: left;
        }

        #nav ul ul {
            top: auto;
        }

        #nav li ul ul {
            left: 12em;
            margin: 0 0 0 32px;
        }

        #nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul {
            display: none;
        }

        #nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul {
            display: block;
        }

.clear {
    clear: both;
}

.wap-x20 {
    float: left;
    width: 20% !important;
}



/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #fff;
}

.featured {
    background-color: #7ac0da;
    background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
    background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    color: #3e5667;
    padding: 20px 40px 30px 40px;
}

    .featured hgroup.title h1, .featured hgroup.title h2 {
        color: #fff;
    }

    .featured p {
        font-size: 1.1em;
    }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

    hgroup.title h1, hgroup.title h2 {
        display: inline;
    }

    hgroup.title h2 {
        font-weight: normal;
        margin-left: 3px;
    }

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

        #loginForm input[type="checkbox"],
        #loginForm input[type="submit"],
        #loginForm input[type="button"],
        #loginForm button {
            width: auto;
        }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom: 5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

    label.checkbox {
        display: inline;
    }

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}

input[type="submit"],
input[type="button"],
button {
    border-radius: 3px;
    background-color: #d3dce0;
    border: 1px solid #787878;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    padding: 7px;
    margin-right: 8px;
    width: auto;
}

td input[type="submit"],
td input[type="button"],
td button {
    font-size: 1em;
    padding: 4px;
    margin-right: 4px;
}

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    border: 1px solid black;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

        th a:link, th a:visited, th a:active, th a:hover {
            color: #333;
            font-weight: 600;
            text-decoration: none;
            padding: 0;
        }

        th a:hover {
            color: #000;
        }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

        th.asc a:after, th.desc a:after {
            display: block;
            position: absolute;
            right: 0em;
            top: 0;
            font-size: 0.75em;
        }

        th.asc a:after {
            content: '▲';
        }

        th.desc a:after {
            content: '▼';
        }

td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

            #login a:hover {
                color: #333;
            }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }

    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

    /* features */
    section.feature {
        float: none;
        padding: 10px;
        width: auto;
    }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}


/*--------------------*/
.listEditUserName {
    width: 80px;
}

.listEditTen {
    width: 200px;
}

.listEditNgaySinh {
    width: 85px;
}

.listEditLop {
    width: 50px;
}

.listEditNhanXet {
    width: 95px;
}
/*--------------------*/

/*------tooltip----*/
.tooltip-inner {
    white-space: pre-wrap;
    text-align: center;
}
/*--------------------*/


/*-----------table header rotate ------*/

.table-header-rotated th.row-header {
    width: auto;
}

.table-header-rotated td {
    vertical-align: middle;
    text-align: center;
}

.table-header-rotated th.rotate-45 {
    height: 80px;
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    position: relative;
    vertical-align: bottom;
    padding: 0;
    font-size: 15px;
    line-height: 0.8;
}

    .table-header-rotated th.rotate-45 > div {
        position: relative;
        top: -8px;
        left: 9px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
        height: 100%;
        -ms-transform: skew(-20deg,-10deg);
        -moz-transform: skew(-20deg,-10deg);
        -webkit-transform: skew(-20deg,-10deg);
        -o-transform: skew(-20deg,-10deg);
        transform: skew(-20deg,-10deg);
        overflow: hidden;
    }

    .table-header-rotated th.rotate-45 span {
        -ms-transform: skew(45deg,0deg) rotate(315deg);
        -moz-transform: skew(45deg,0deg) rotate(315deg);
        -webkit-transform: skew(45deg,0deg) rotate(315deg);
        -o-transform: skew(45deg,0deg) rotate(315deg);
        transform: skew(45deg,0deg) rotate(315deg);
        position: absolute;
        bottom: 28px; /* 40 cos(45) = 28 with an additional 2px margin*/
        left: -30px; /*Because it looked good, but there is probably a mathematical link here as well*/
        display: inline-block;
        // width: 100%;
        width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
        text-align: left;
        // white-space: nowrap; /*whether to display in one line or not*/
    }

/*---------------------------------------*/

/*------Item Lop--------------*/
.wap-x33 {
    float: left;
    width: 20% !important;
}

.pro_list {
    border: 1px solid #E6E6E6;
    height: 242px;
    margin: 5px;
    position: relative;
    text-align: center;
}

    .pro_list .img {
        height: 132px;
    }

        .pro_list .img img {
            width: 135px;
            padding-top: 8px;
        }

.img img {
    width: 100%;
}

img {
    border: medium none;
}

.pro_list:hover {
    box-shadow: 1px 1px 4px 2px #B6AE8E;
}

.pro_list h3 {
    margin: 6px 0;
    max-height: 36px;
    overflow: hidden;
}

    .pro_list h3 a {
        font-size: 13px;
    }

.pro_view {
    background: url("../images/bar2.jpg") repeat-x scroll left center rgba(0, 0, 0, 0);
    border: 1px solid #000;
    color: #FFFFFF;
    display: inline-block;
    left: 5px;
}

.pro_btn {
    bottom: 10px;
    font-weight: bold;
    padding: 3px 16px;
    position: absolute;
    font-size: 17px;
}

.pro_them {
    margin: 0 0 0 72px;
}

.add_cart {
    background-color: white;
    border: 1px solid black;
    border-radius: 16px;
    color: black;
    display: inline-block;
    font-weight: bold;
    padding: 3px 10px;
    right: 5px;
}

.pro_btn:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid black;
    color: black;
    text-decoration: none;
}

.add_cart:hover {
    background: url("../images/bar2.jpg") repeat-x scroll left center rgba(0, 0, 0, 0);
    border: 1px solid black;
    color: white;
    text-decoration: none;
}
/*----------------------------*/


.noborder {
    border: 0px;
}

.lopDetailGeneral {
    float: left;
}

.imgLopDetailGeneral {
    float: left;
    padding-left: 10px;
    width: 330px;
    padding-top: 10px;
}

.RecordNumber
{
    color: red;
    font-size:1.1em;
}

.imgDanhSachSinhVien
{
    width:90px;
}
